{{ define "header" }}

    {{ partial "header" . }}

{{ end }}

{{ define "main" }}

    <article class="content-article">
        <section class="list-info">
            <h1>🎼 Compositions</h1>
            <p>You can find a comprehensive list of Rachael's compositions below.</p>
            <p id="works-identifier-key">Each composition is identified as either part of Rachael's <br/>
            <span class="works-identifier works-identifier__solo"><span class="works-identifier__icon">🎵</span> Chamber, Solo Artist, and Electronic Works</span> or<br/> 
            <span class="works-identifier works-identifier__soundtrack"><span class="works-identifier__icon">🎞</span> Film, Theatre, and Installation Works</span>.</p>
        </section>

        <ul class="cards-wrapper">
            {{ range sort .Pages ".Params.year" "desc" }}
                    {{ partial "composition-card" (dict "page" .) }}
            {{ end }}
        </ul>

    </article>

{{ end }}

{{ define "partials/composition-card.html" }}

    {{ $wrkid := "works-identifier"}}
    {{ if eq .page.Params.work_type "Chamber/Solo Artist/Electronic" }}
        {{ $wrkid = (print $wrkid " works-identifier__solo")}}
    {{ else }}
        {{ $wrkid = (print $wrkid " works-identifier__soundtrack")}}
    {{ end }}

    {{ $attrs := "composition-card" }}
    {{ if .page.Params.embed_type }}
        {{ $ebd := (print " composition-card__with-embed composition-card__with-embed__" .page.Params.embed_type) }}
        {{ $attrs = (print $attrs $ebd) }}
    {{ end }}

    <li 
        class="{{ $attrs }}"
    >
        <div
            class="{{ $wrkid }}" 
            aria-label="Part of Rachael's {{ .page.Params.work_type }} Works"
        >
            {{ if eq .page.Params.work_type "Chamber/Solo Artist/Electronic" }}
                🎵
            {{ else }}
                🎞
            {{ end }}
        </div>

        <div class="info">
            <h2>{{ .page.Title }}</h2>
            <p><span class="composition-date">({{ if eq .page.Params.in_progress true}}In Progress{{ else }}{{ .page.Params.year }}{{ end }})</span>, {{ .page.Description }}</p>
        </div>

        {{ if .page.Params.embed_type }}
            <div class="embed embed__{{ .page.Params.embed_type }}">
                {{ if eq .page.Params.embed_type "soundcloud" }}
                    {{ partial "soundcloud" (dict "file" .)}}
                {{ else if eq .page.Params.embed_type "listen-link" }}
                    <a
                        href="{{ .page.Params.link }}"
                        target="_blank"
                        rel="noreferrer"
                        class="composition-link-button"
                    >
                        <span>Have a listen {{ partial "external-link-icon" }}</span>
                    </a>
                {{ else if eq .page.Params.embed_type "internal" }}
                    <a
                        href="{{ .page.Params.link }}"
                        class="composition-link-button"
                    >
                        Learn more
                    </a>
                {{ else if eq .page.Params.embed_type "learn-link" }}
                    <a
                        href="{{ .page.Params.link }}"
                        target="_blank"
                        rel="noreferrer"
                        class="composition-link-button"
                    >
                        <span>Learn more {{ partial "external-link-icon" }}</span>
                    </a>
                {{ end }}
            </div>
        {{ end }}

    </li>

{{ end }}