/*--------------------------------------------------------------
# Global: Layout
----------------------------------------------------------------
Description: Top-level basic styling for layout.
*/

// Package: rgibsonmusic

// Import variables
@use 'abstracts/colours';

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content image";

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-height: 100vh;

    overflow: hidden;

    scroll-margin-top: 0;
    scroll-margin-bottom: 0;
};

div#content-wrapper {
    margin: 4.1rem 0 0 0;
    padding: 0;
    grid-area: content;
    overflow-y: scroll;
    overflow-x: hidden;

    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    scroll-padding-bottom: 100vh;

    background-color: var(--main-bg);

    transition: .2s ease;

    main:not(.homepage) {
        margin: 1rem 1.4rem;

        min-height: 80%;

        article.content-article, div.content-article {
            max-width: 50vw;
            min-width: 300px;
            margin: 0 auto;
        }
    }
};

div.design-sidebar {
    grid-area: image;
    max-width: 25vw;
    min-width: 200px;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 10px black;
};

/* Mobile Responsiveness
--------------------------------------------- */
@media only screen and (max-width: 1300px) {
    body {
        div#content-wrapper {
            main:not(.homepage) {
                article.content-article, div.content-article {
                    max-width: 80vw;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: "content";

        div#content-wrapper {
            main:not(.homepage) {
                margin: 0;
                article.content-article, div.content-article {
                    max-width: 95vw;
                }
            }
        }
    }

    div.design-sidebar {
        display: none;
    }
}

/* Print
--------------------------------------------- */
@media only print {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: "content";
        overflow: visible !important;
    }

    div.design-sidebar {
        display: none;
    }

    div#content-wrapper {
        margin: 0;
        margin-top: 4rem;
        overflow: visible;
    }
    div#content-wrapper main:not(.homepage) article.content-article, div#content-wrapper main:not(.homepage) div.content-article {
        max-width: 100vw;

    }
}