/*--------------------------------------------------------------
# Global: Text
----------------------------------------------------------------
Description: Top-level basic styling for text.
*/

// Package: rgibsonmusic

// Import variables
@use 'abstracts/typography';

// Primary Level 1 Heading
h1 {
    font-family: typography.$primary-heading-font-family, 
                 typography.$fallback-stack;
    font-weight: typography.$primary-heading-font-weight;
    font-size: 2.2rem;
};

// Secondary Level Headings
h2, h3, h4, h5, h6 {
    font-family: typography.$secondary-heading-font-family, 
                 typography.$fallback-stack;
    font-weight: typography.$secondary-heading-font-weight;
};

h2 { font-size: 2rem; };
h3 { font-size: 1.8rem; };
h4 { font-size: 1.6rem; };
h5 { font-size: 1.4rem; };
h6 { font-size: 1.2rem; };

// General Text
p, ol, ul, a, button, input, label {
    font-family: typography.$body-font-family, 
                 typography.$fallback-stack;
    font-weight: typography.$body-font-weight;
    font-size: 1.2rem;
};