/*--------------------------------------------------------------
# Components: Header
----------------------------------------------------------------
Description: Style header element.
*/

// Package: rgibsonmusic
@use 'abstracts/colours';

header {
    height: 4rem;
    background-color: var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    position: absolute;
    top: 0;
    left: 0;
    width: 75vw;

    border-bottom: 3px solid colours.$graffiti_black;

    &>a {
        margin: 1rem;
    }

    button#toggle-colour-scheme {
        background: transparent;
        border: none;
        transition: .2s ease;
        border-radius: 50%;
        padding: auto;
        width: 2rem;
        height: 2rem;
        margin: 1rem;

        i.fa-regular {
            transition: .2s ease;
            color: var(--main-font);
        };

        &:hover, &:focus {
            cursor: pointer;
            background: var(--subtle-button-hover);
            i.fa-regular {
                color: var(--colour-scheme-hover);
                filter: drop-shadow(0px 0px 3px var(--colour-scheme-hover-shadow));
            };
        };

        &:disabled {
            background: var(--subtle-button-disabled);
        };

        &:active {
            background: var(--subtle-button-active);
        }
    }
};