/*--------------------------------------------------------------
# Components: Logo
----------------------------------------------------------------
Description: Style logo SVGs.
*/

// Package: rgibsonmusic

// Import variables
@use 'abstracts/colours' as *;

// Set CSS variables for changing logo outline depending on active colour scheme
html.theme__light {
    --logo-outline: #{$ui__900};
    --logo-shadow: #{$ui__400};
};

html.theme__dark {
    --logo-outline: #{$ui__950};
    --logo-shadow: #{$ui__950};
};

// Default Colours for Logo SVGs
.RGLogo {
    --rachael-fill: #{$graffiti_teal};
    --gibson-fill: #{$graffiti_red};
    --neck-fill: #{$graffiti_orange};

    path, rect, circle {   
        transition: .2s ease;
    }

    .RGLogo__Outline path {
        stroke: var(--logo-outline);
        fill: var(--logo-outline);
    };

    .RGLogo__R path,
    path.RGLogo__R {
        fill: var(--rachael-fill);
    };

    .RGLogo__Neck path {
        fill: var(--neck-fill);
    };

    path.RGLogo__G {
        fill: var(--gibson-fill);
    };

    rect.RGLogo__Bar {
        fill: var(--neck-fill);
    };

    .RGLogo__Pegs circle {
        fill: var(--logo-outline);
    };
    .RGLogo__Strings path {
        stroke: var(--logo-outline);
    };

    path.RGLogo__Rachael,
    .RGLogo__Rachael path {
        fill: var(--rachael-fill);
    };

    path.RGLogo__Gibson,
    .RGLogo__Gibson path {
        fill: var(--gibson-fill);
    };
};

// Specific logo colours for header
header svg.RGLogo {
    height: 3rem;
    width: auto;
    filter: drop-shadow(1px 1px 2px var(--logo-shadow));

    --gibson-fill: #{$graffiti_teal};
    --rachael-fill: #{$graffiti_white};

    .RGLogo__Rachael, .RGLogo__Gibson, .RGLogo__R path, .RGLogo__G {
        fill: var(--rachael-fill);
    };

    .RGLogo__Gibson, .RGLogo__G {
        fill: var(--gibson-fill);
    };
};