/*--------------------------------------------------------------
# Components: Nav
----------------------------------------------------------------
Description: Style main navigation.
*/

// Package: rgibsonmusic

// Import variables
@use 'abstracts/typography' as *;

nav.main-nav__desktop {
    align-self: flex-end;
    z-index: 2;

    ul {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-flow: row nowrap;
        height: 4rem;
        overflow: hidden;
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            border-radius: 8px 8px 0 0;
            min-height: 1.4rem;
            background: transparent;
            padding: 0;
            margin: auto .05rem;

            transform: translateY(1.4rem);
            transition: .2s ease;

            border: 3px solid var(--border);

            &:focus-within, &:hover {
                transform: translateY(1rem);
            };

            &:nth-of-type(2n + 1) a {
                background: linear-gradient(-45deg, #de84c1, #65d2cc, #bdcb90, #e9b093, #e16472, #e1b1c3);
                background-size: 400% 400%; 
            };

            &:nth-of-type(2n) a {
                background: linear-gradient(-45deg, #e16472, #e1b1c3, #bdcb90, #de84c1, #b1ced6, #65d2cc);
                background-size: 400% 400%;
            }

            a {

                border-radius: 8px 8px 0 0;
                padding: .6rem 1rem;
                min-height: 1.4rem;
                box-shadow: inset 0 -10px 5px -5px var(--shadow);
                transition: .2s ease;
                display: block;
                color: var(--main-font);
                height: 4rem;

                border: 4px solid #edeef1;

                text-decoration: none;
                font-family: $primary-heading-font-family, $fallback-stack;
                letter-spacing: .2rem;
                font-size: 1rem;
                color: white;
                font-weight: 700;

                width: fit-content;
                white-space: nowrap;

                &:hover, &:focus {
                    animation: navgradient 8s ease infinite;
                    text-decoration: none;
                    color: white;
                    
                    box-shadow: none;
                };

                &:active {
                    background-color: var(--nav-link-active);
                }
            }

            a.active {
                background-image: none;
                background-color: var(--main-bg);
                box-shadow: none;
                color: var(--font-main);
                height: 2rem;
                border-color: var(--main-bg);
            }
        }
    }
}

@keyframes navgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Mobile Responsiveness
--------------------------------------------- */
@media only screen and (max-width: 1600px) {
    nav.main-nav__desktop ul li.nav-link a {
        span.nav-link-label__text {
            transition: .1s ease;
            display: none;
        }

        &:hover, &:focus, &:focus-within {
            span.nav-link-label__text {
                display: inline-block;
            }
        }
    }
}

nav.main-nav__mobile {
    &__closed {
        display: none;
    }
    &__open {
        border-top: 3px solid var(--border);
        position: fixed;
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        top: 4rem;
        ul {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-flow: column nowrap;
            list-style-type: none;
            width: 100vw;
            height: 100vh;
            padding: 0;
            margin: 0;
            background-color: var(--main-bg);

            li {
                margin: 0;
                padding: 0;
                width: 100vw;
                transition: .2s ease;
                border-top: 3px solid var(--border);
                border-bottom: 3px solid var(--border);

                &:last-of-type {
                    border-bottom: 6px solid var(--border);
                }

                &:nth-of-type(2n) a {
                    background-color: var(--default-teal);
                }

                &:nth-of-type(2n + 1) a {
                    background-color: var(--default-red);
                }
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: row nowrap;
                    width: 100vw;
                    height: 15vh;
                    font-size: 2rem;
                    color: black;
                    border-top: 5px solid var(--default-white);
                    border-bottom: 5px solid var(--default-white);

                    span.nav-link-label {
                        &__text {
                            display: inline-block;
                        }
                    }
                }


                &:hover, &:focus, &:focus-within {
                    cursor: pointer;

                    &:nth-of-type(2n) a {
                        background-color: var(--default-blue);
                    }
    
                    &:nth-of-type(2n + 1) a {
                        background-color: var(--default-orange);
                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 300px) {
    nav.main-nav__mobile {
        &__open ul li a {
            font-size: 1.6rem;
        }
    }
}