<!DOCTYPE html>
<html lang="en-gb" id="site" class="theme__light">
<head>
    {{ $opts := dict "transpiler" "dartsass" "targetPath" "css/style.css" }}
    {{ with resources.Get "sass/main.scss" | toCSS $opts | minify | fingerprint }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
    {{ end }}

    <link rel="icon" type="image/svg+xml" href="{{ relURL "images/favicon.svg" }}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ partial "meta" . }}

    {{ if .IsHome }}
        <title>{{ .Site.Title }} 🎶 Composer, Sound Artist, Audio Editor</title>
    {{ else }}
        <title>{{ .Page.Title }} 🎶 {{ .Site.Title }}</title>
    {{ end }}
</head>
<body class="page__{{ .Params.page_class }}">
    <a class="skip-to-content-link" href="#main-wrapper">
        Skip to content
    </a>
        
    <div id="content-wrapper">

        
        {{ block "header" . }}
        
        {{ end }}

        {{ if .Page.IsHome }}
            <main id="main-wrapper" class="homepage" aria-role="main">
        {{ else }}
            <main id="main-wrapper" class="{{ .Params.page_class }}" aria-role="main">
        {{ end }}
        
        {{ if .Site.Param "show_draft_notice" }}
            {{ partial "draft" }}
        {{ end }}
            
            
            {{ block "main" . }}
            
            {{ end }}
            
        </main>
    
        {{ partial "footer" }}

    </div>

    
    {{ $bg := resources.Get "images/rgibson_headshot1.webp"}}
    <div class="design-sidebar" style="background-image: url({{ $bg.RelPermalink }})">

    </div>
    
    {{ $jsOpts := dict "target" "es2020" }}
    {{ $js := resources.Get "ts/main.ts" | js.Build $jsOpts }}
    <script src="{{ $js.RelPermalink }}" defer></script>
</body>
</html>