/* Base/Typography/Fonts: Body
--------------------------------------------- */

// Package: rgibsonmusic

// Import variables
@use 'abstracts/typography';

// General Text
p, ol, ul, a, button, label, td, div {
    font-family: typography.$body-font-family, 
                 typography.$fallback-stack;
    font-weight: typography.$body-font-weight;
    font-size: 1.2rem;
}

figcaption, figcaption p {
    font-family: typography.$body-font-family, 
                 typography.$fallback-stack;
    font-weight: typography.$body-font-weight;
    font-size: 1rem;
    color: var(--secondary-font);
}

// Forms
input, textarea, select, option, optgroup {
    font-family: typography.$handwriting-font-family,
                 typography.$fallback-stack;
    font-weight: typography.$handwriting-font-weight;
    font-size: 1.2rem;
}

// Abbreviations, Definitions
abbr {
    &:hover, &:focus, &:focus-within {
        cursor: help;
    }
}

dfn {
    font-style: normal;
}

/* Print
--------------------------------------------- */
@media only print {
    p, ol, ul, a, button, input, label, td {
        font-size: 16px;
    }
}