@use 'abstracts/colours' as *;

:root {
    --default-white: #{$graffiti_white};
    --default-black: #{$graffiti_black};
    --default-teal: #{$graffiti_teal};
    --default-blue: #{$graffiti_blue};
    --default-red: #{$graffiti_red};
    --default-orange: #{$graffiti_orange};
    --default-pink: #{$graffiti_pink};
    --default-palepink: #{$graffiti_palepink};
    --default-green: #{$graffiti_green};
}

html.theme__light {
    --main-bg: #{$ui__100};
    --header-bg: #{$ui__200};
    --shadow: #{$ui__400};
    --border: #{$ui__900};

    --container-bg: #{$ui__50};

    --main-font: #{$ui__900};
    --secondary-font: #{$ui__600};

    --subtle-button-hover: #{$ui__100};
    --subtle-button-active: #{$ui__300};
    --subtle-button-disabled: #{$ui__50};

    --colour-scheme-hover: #{$blue__600};
    --colour-scheme-hover-shadow: #{$blue__200};

    --nav-link: #{$ui__500};
    --nav-link-hover: #{$ui__300};
    --nav-link-active: #{$ui__400};

    --text-link: #{$teal__600};
    --text-link-hover: #{$teal__400};
    --text-link-active: #{$teal__700};
    --text-link-disabled: #{$teal__300};

    --works-identifier-solo: #{$green__300};
    --works-identifier-soundtrack: #{$orange__300};

    --form-background: #{$ui__100};

    --input-border: #{$ui__600};
    --input-border-hover: #{$ui__800};
    --input-border-active: #{$ui__800};
    --input-border-disabled: #{$ui__400};

    --input-background: #{$ui__200};
    --input-background-hover: #{$ui__100};
    --input-background-active: #{$ui__100};
    --input-background-disabled: #{$ui__300};

    --input-text: #{$ui__950};
    --input-text-hover: #{$ui__950};
    --input-text-active: #{$ui__950};
    --input-text-disabled: #{$ui__950};
    --input-text-placeholder: #{$ui__400};

    --input-border-invalid: #{$red__600};
    --input-border-valid: #{$green__400};
    --input-background-invalid: #{$red__200};
    --input-background-valid: #{$green__200};
};

html.theme__dark {
    --main-bg: #{$ui__600};
    --header-bg: #{$ui__800};
    --shadow: #{$ui__950};
    --border: #{$ui__950};

    --container-bg: #{$ui__700};

    --main-font: #{$ui__50};
    --secondary-font: #{$ui__300};

    --subtle-button-hover: #{$ui__600};
    --subtle-button-active: #{$ui__700};
    --subtle-button-disabled: #{$ui__800};

    --colour-scheme-hover: #{$orange__200};
    --colour-scheme-hover-shadow: #{$orange__300};

    --nav-link: #{$ui__900};
    --nav-link-hover: #{$ui__500};
    --nav-link-active: #{$ui__600};

    --text-link: #{$teal__300};
    --text-link-hover: #{$teal__100};
    --text-link-active: #{$teal__400};
    --text-link-disabled: #{$teal__800};

    --works-identifier-solo: #{$green__400};
    --works-identifier-soundtrack: #{$orange__400};

    --form-background: #{$ui__700};

    --input-border: #{$ui__300};
    --input-border-hover: #{$ui__100};
    --input-border-active: #{$ui__50};
    --input-border-disabled: #{$ui__200};

    --input-background: #{$ui__600};
    --input-background-hover: #{$ui__300};
    --input-background-active: #{$ui__300};
    --input-background-disabled: #{$ui__500};

    --input-text: #{$ui__100};
    --input-text-hover: #{$ui__950};
    --input-text-active: #{$ui__950};
    --input-text-disabled: #{$ui__200};
    --input-text-placeholder: #{$ui__400};

    --input-border-invalid: #{$red__500};
    --input-border-valid: #{$green__500};
    --input-background-invalid: #{$red__200};
    --input-background-valid: #{$green__200};
};