<header class="main-header">
    
    <a 
        href="{{ relURL "" }}" 
        aria-label="Go to homepage" 
        {{ if .IsHome }}
            class="homepage-header-logo"
        {{ else }}
            class="header-logo"
        {{ end }}
    >
        {{ partial "logo_text.svg" }}
    </a>

    {{ partial "menu" (dict "menuID" "main" "page" .) }}

    <div class="controls">
        <button class="control-button" id="toggle-colour-scheme" aria-label="Toggle colour scheme"><i id="theme-identifier-icon" class="fa-regular fa-moon" aria-label="Current theme is light"></i></button>
        <button class="control-button" id="mobile-menu-button" aria-label="Navigation Menu"><i id="mobile-nav-identifier-icon" class="fa-solid fa-bars"></i></button>
    </div>
</header>