<header>
    
    <a 
        href="/" 
        aria-label="Go to homepage" 
        {{ if .IsHome }}
            class="homepage-header-logo"
        {{ end }}
    >
        {{ partial "logo_text.svg" }}
    </a>

    {{ partial "menu" (dict "menuID" "main" "page" .) }}

    <div class="controls">
        <button id="toggle-colour-scheme" aria-label="Toggle colour scheme"><i id="theme-identifier-icon" class="fa-regular fa-moon" aria-label="Current theme is light"></i></button>
    </div>
</header>