{{ define "header" }}
    {{ partial "header" . }}
{{ end }}

{{ define "main" }}

    <div class="hero">
        <h1>
            {{ partial "logo_image_text.svg" }}
        </h1>
        <ul class="title-scroller">
            <li>🎸 Guitarist.</li>
            <li>🎼 Composer.</li>
            <li>🎛 Sound Artist.</li>
            <li>🎧 Audio Editor.</li>
            <li class="smaller-text">🏆 Winner of the Rodewald Award 2017.</li>
        </ul>

        <button id="homepage-hero-scroll" class="button button__green" aria-label="Scroll down">
            {{ partial "icon" (dict "context" . "semantic" true "focusable" true "faStyle" "solid" "faName" "arrow-down" "alt" "Scroll down")}}
        </button>
    </div>

    <div id="intro" class="homepage-textbox">
        <h2>👋 Welcome!</h2>
        <p>Rachael Gibson is a Merseyside-based guitarist and composer whose work delves into tactile approaches to music-making, exploring how alternative notation and technology can enhance the interplay between touch and performance. She is pursuing a PhD in Composition at the University of Liverpool, funded by the <abbr title="North West Consortium Doctoral Training Partnership">NWCDTP</abbr>. Her recent projects include participation in the Britten Pears Young Artist scheme, creating installation work for the Wanderscapes Project at the Old Courts Wigan, and involvement in the Yorkshire Sound Women’s Network Sound Pioneers Residency. Rachael has composed for a range of media, including theatre, short films, and various organizations such as Whatstick Theatre, The Coach House in partnership with Everyman Theatre Liverpool, Twisted Showcase Productions, Claire House Children’s Hospice, and DaDa Fest.</p>
        <a href="{{ relURL "about" }}" class="button button__teal">Learn More 
            {{ partial "icon" (dict "context" . "semantic" false "focusable" true "faStyle" "solid" "faName" "arrow-right" "alt" "")}}
        </a>
    </div>

    {{ partial "latest" }}

    <div class="homepage-textbox">
        <h2>🎼 Compositions</h2>
        <p>Rachael has composed pieces for a variety of mediums: including chamber and solo works, as well as for performance and installation media.</p>
        <p>You can find a comprehensive list of Rachael's works on the compositions page.</p>
        <a class="button button__pink" href="{{ relURL "compositions" }}">Hear More 
            {{ partial "icon" (dict "context" . "semantic" false "focusable" true "faStyle" "solid" "faName" "arrow-right" "alt" "")}}
        </a>
    </div>

    {{ partial "image-divider" (dict "file" "guitar-heads_by-diego-catto_from-unsplash.webp") }}

    <div class="homepage-textbox">
        <h2>✏ Projects</h2>
        <p>Throughout her academic and professional career, Rachael has been involved in a number of workshops, studies, and projects. These include: working with Whatstick Theatre on a production of Mike Barlett's <em>Contractions</em>; creating original music for the <em>Wanderscapes</em> installation commissioned by the Old Courts, Wigan; and creating music inspired by science as part of the Royal Northern College of Music and University of Liverpool's interdisciplinary PRiSM 8 project.</p>
        <p>For more information, and articles written by Rachael on her experiences, explore the projects page.</p>
        <a class="button button__red" href="{{ relURL "projects" }}">Learn More 
            {{ partial "icon" (dict "context" . "semantic" false "focusable" true "faStyle" "solid" "faName" "arrow-right" "alt" "")}}
        </a>
    </div>

    {{ partial "image-divider" (dict "file" "music-tech-desk_by-techivation_from-unsplash.webp") }}

    <div class="homepage-textbox">
        <h2>✉ Contact</h2>
        <p>If you have any questions about Rachael or her works, or want to get in touch about potential projects, please take a look at the contact page.</p>
        <a class="button button__green" href="{{ relURL "contact" }}">Get in Touch 
            {{ partial "icon" (dict "context" . "semantic" false "focusable" true "faStyle" "solid" "faName" "arrow-right" "alt" "")}}
        </a>
    </div>

{{ end }}