/*--------------------------------------------------------------
# Pages: Compositions
----------------------------------------------------------------
Description: Styling specific to compositions list and single pages
*/

// Package: rgibsonmusic

main.compositions {

    .works-identifier {
        &__solo {
            --works-identifier-colour: var(--works-identifier-solo);
        };
        &__soundtrack {
            --works-identifier-colour: var(--works-identifier-soundtrack);
        }
    }

    p span.works-identifier {
        padding: .2rem;
        background-color: var(--works-identifier-colour);
        color: var(--default-black) !important;
        border-radius: 8px;
    }

    ul.cards-wrapper {
        list-style-type: none;
        padding: 0;
        width: 90%;
        margin: 1rem auto;

        li.composition-card {
            border: 3px solid var(--border);
            border-radius: 8px;
            margin: .8rem;
            padding: 0;
            overflow: hidden;

            display: grid;
            grid-template-columns: 2rem 3fr 1fr;

            div.works-identifier {
                background-color: var(--works-identifier-colour);
                padding: .2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: row nowrap;

                grid-area: 1 / 1 / 2 / 2;
            };

            &:not(.composition-card__with-embed) {
                div.info {
                    grid-area: 1 / 2 / 2 / 4;
                };
            };

            &__with-embed {
                div.embed {
                    grid-area: 1 / 3 / 2 / 4;
                };

                div.info {
                    grid-area: 1 / 2 / 2 / 3;
                }
            };

            div.info {
                border-left: 3px solid var(--border);
                padding: .8rem 1.2rem;
                background-color: var(--container-bg);

                h2, p {
                    display: inline;
                    font-size: 1.2rem;
                }
            }

            div.embed {
                border-left: 3px solid var(--border);

                &__soundcloud {
                    background-color: #FF5500;
                }
                iframe {
                    margin: 0;
                    padding: 0;
                    min-width: 300px;
                    height: 100% !important;
                }

                a {
                    display: grid;
                    place-items: center;
                    min-width: 200px;
                    height: 100%;
                    min-height: 3rem;
                }

                a.composition-link-button {
                    background-color: var(--default-teal);
                    color: black;
                    transition: .2s ease;

                    &:hover, &:focus, &:focus-within {
                        background-color: var(--default-blue);
                    }
                }
            }
        }
    }
}

/* Mobile Responsiveness
--------------------------------------------- */
@media only screen and (max-width: 900px) {
    body.page__compositions div#content-wrapper main:not(.homepage) article.content-article {
        max-width: 90vw;
    }
    main.compositions {
        article.content-article {

            section.list-info {
                max-width: 80vw;
                margin: 1rem auto;
            }
        }
        ul.cards-wrapper {
            width: 90vw;
        }
    }
}
@media only screen and (max-width: 650px) {
    main.compositions {
        ul.cards-wrapper {
            li.composition-card {
                grid-template-columns: none;
                grid-template-areas: 
                    "identifier info"
                    "identifier link";

                div.works-identifier {
                    grid-area: identifier;
                }

                &:not(.composition-card__with-embed) {
                    div.info {
                        grid-area: info;
                    };
                };

                &__with-embed {
                    div.embed {
                        grid-area: link;
                    };
    
                    div.info {
                        grid-area: info;
                    }
                };
            }
        }
    }
}

/* Print
--------------------------------------------- */
@media only print {
    main.compositions {
        ul.cards-wrapper {

            li.composition-card {

                grid-template-columns: none;
                grid-template-areas: 
                    "identifier"
                    "info"
                    "link";

                div {
                    padding: 3px;
                }

                div.works-identifier {
                    grid-area: identifier;
                }

                div.info {
                    border: none;
                    overflow-wrap: break-word;
                }

                &:not(.composition-card__with-embed) {
                    div.info {
                        grid-area: info;
                    };
                };
    
                &__with-embed {
                    div.embed {
                        grid-area: link;
                        border: none;

                        iframe.composition-embed-soundcloud {
                            display: none;
                        }

                        a[href^="/"] {
                            display: none;
                        }
                    };
    
                    div.info {
                        grid-area: info;
                    }
                };

            }
        }
    }
    main.compositions ul.cards-wrapper li.composition-card div.info h2, main.compositions ul.cards-wrapper li.composition-card div.info p {
        font-size: 16px;
    }
}