/*--------------------------------------------------------------
# Pages: Projects
----------------------------------------------------------------
Description: Styling specific to projects list and single pages
*/

// Package: rgibsonmusic

main.project {
    div.title {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 8px;
        overflow: hidden;

        display: grid;
        place-items: center;

        padding: 1rem 2rem;

        text-align: center;

        margin-bottom: 1.2rem;

        h1 {
            font-size: 6rem;
            color: var(--default-white);
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: var(--border);
            font-weight: 900;
        }
    }

    iframe {
        border-radius: 8px;
        border: 3px solid var(--border);
        margin: .2rem auto;
    }

    section {
        figure {
            width: min-content;
        }
        figure figcaption p {
            margin: 0;
        }
        figure.float-right {
            float: right;
        }
        img {
            max-width: 500px;
            border-radius: 8px;
        }
    }

    div.projects-navigation {
        width: 80%;
        padding: 1rem;
        margin: 1rem auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row nowrap;
    }
}

main.projects {

    ul.card-wrapper {
        list-style-type: none;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-flow: row wrap;

        li.project-card {
            border: 3px solid var(--border);
            border-radius: 8px;
            margin: .5rem;
            width: 550px;
            height: 140px;
            background-color: var(--container-bg);
            overflow: hidden;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row nowrap;

            div.info {
                height: 100%;
                width: auto;
                flex-grow: 3;

                p {
                    height: 100%;
                    overflow-y: scroll;
                    padding: .2rem;
                    margin: 0;
                    border-top: 3px solid var(--border);
                }


                h2 {
                    margin: 0;
                    padding: .2rem .5rem;
                    background-color: var(--default-teal);
                    border: 3px solid var(--default-white);
                    color: var(--default-black);
                    font-size: 1.4rem;
                    border-radius: 8px;
                }
            }

            a {
                display: grid;
                place-items: center;
                text-align: center;
                padding: .2rem;
                height: 100%;
                min-width: 6rem;
                border-left: 3px solid var(--border);
                transition: .2s ease;
                color: var(--default-black);
                font-size: 3rem;
                font-weight: 700;

                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                span.label-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: column nowrap;
                    border-radius: 5px;
                    padding: .2rem;
                    transition: .2s ease;
                }

                span.label {
                    visibility: hidden;
                    font-size: 1rem;
                    margin: 0;
                    white-space: nowrap;
                    transition: .2s ease;
                }

                &:hover, &:focus, &:focus-within {
                    min-width: 8rem;
                    text-decoration: none;

                    span.label-wrapper {
                        background: rgba(255,255,255,0.45);
                    }

                    span.label {
                        visibility: visible;
                    }
                }
            }
        }
    }

}