<figure class="iframe-figure iframe-figure__youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ .Get "videoid" }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <figcaption><p>{{ .Get "caption" }}</p></figcaption>
</figure>
<div class="iframe-src"><p>https://www.youtube.com/embed/{{ .Get "videoid" }}</p></div>