{{ $education := dict }}
{{ with resources.Get "data/cv.json" }}
{{ with . | transform.Unmarshal }}
    {{ $education = where .education "show" true }}
    {{ with $education }}
        <section class="cv-section cv-section__education">
            <h2 class="cv-section__title">Education</h2>
            <table class="cv-table cv-table__education-list">
                {{ range $education }}
                    <tr>
                        <td class="education-course">
                            {{ if .current }}
                            Currently undertaking 
                            {{ else if .grade }}
                            Gained {{ .grade }} in 
                            {{ end }}
                            <strong>{{ .course_name }}</strong>
                             from {{ .institution }}
                        </td>
                        <td class="education-date">
                            {{ .start_date }} - {{ .end_date }}
                        </td>
                        {{ if .additional_info }}
                            <td class="education-additional">
                                {{ .additional_info }}
                            </td>
                        {{ end }}
                        {{ if .modules }}
                        <td class="education-modules">
                            Including modules:
                            <ul class="education-modules-list">
                                {{ range .modules }}
                                    <li>{{ . }}</li>
                                {{ end }}
                            </ul>
                        </td>
                        {{ end }}
                    </tr>
                {{ end }}
            </table>
        </section>
    {{ end }}
{{ end }}
{{ end }}