<header class="cv-header">
    <h1>Rachael Gibson</h1>
    <ul class="roles">
        <li class="role">Guitarist</li>
        <li class="role">Composer</li>
        <li class="role">Sound Artist</li>
        <li class="role">Audio Editor</li>
    </ul>
    <ul class="contact">
        <li class="contact-method contact-method__email"><span class="material-symbols-outlined">
            alternate_email
            </span> contact@rgibsonmusic.co.uk</li>
        <li class="contact-method contact-method__phone"><span class="material-symbols-outlined">
            call
            </span> +44 (0) 123 456 7890</li>
    </ul>
</header>