<header class="cv-header">
    <h1>Rachael Gibson</h1>
    <ul class="roles">
        <li class="role">Guitarist</li>
        <li class="role">Composer</li>
        <li class="role">Sound Artist</li>
        <li class="role">Audio Editor</li>
    </ul>
    {{ with resources.Get "data/contact.json" }}
    {{ with . | transform.Unmarshal }}
        <ul class="contact">
            {{ if .contact.email }}
            <li class="contact-method contact-method__email"><span class="material-symbols-outlined">
                alternate_email
                </span> {{ .contact.email }}</li>
            {{ end }}
            {{ if .contact.phone }}
            <li class="contact-method contact-method__phone"><span class="material-symbols-outlined">
                call
                </span> {{ .contact.phone }}</li>
            {{ end }}
        </ul>
    {{ end }}
    {{ end }}
</header>